/* Scrollbar */
::-webkit-scrollbar-track {
	background-color: #fff;
    border-radius: 100px;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #fff;    
}

::-webkit-scrollbar-thumb {
    background-color: #37474f;	
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(55, 71, 79, .7);    
}

::-webkit-scrollbar-thumb:active {
    background-color: #2962ff;
}
/* /Scrollbar */


/* General */
body {
    font-family: 'Oxygen', sans-serif;
}

a {
    text-decoration: none;
}
/* /General */


/* Line Color */
.line-wrapper {
    width: 70%;
    height: 1px;
    background-color: #cfd8dc;
}

.line-color {
    width: 30%;
    height: 1px;
    background-color: #2962ff;
}
/* /Line Color */


/* Navbar */
.navbar-fixed nav {    
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 75px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .3);
}

.nav-wrapper #logo {
    width: 32%;
}

.nav-wrapper .button-collapse {
    color: #37474f;
}

.nav-wrapper .brand-logo span {
    position: fixed;
    top: 5px;
    margin-left: 5px;
    color: #2962ff;
}

.nav-wrapper li a {
    color: #37474f;
}

.nav-wrapper li a:hover {
    background-color: transparent;
}

.nav-wrapper li .line-wrapper {
    opacity: 0;
    transition: .3s ease-in-out;
}

.nav-wrapper li:hover .line-wrapper {
    opacity: 1;
}

.nav-wrapper .side-nav {
    background-color: #fff;
}
/* /Navbar */


/* Hero */
.hero-wrapper {
    margin-top: -10px;
    height: 650px;
    background-image: url('../images/bg-hero.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.hero-filter {
    position: relative;
    padding-top: 200px;
    height: 650px;
    background: linear-gradient(135deg, rgba(41, 98, 255, .85) 23%, rgba(0, 199, 83, .85) 100%);
}

.hero-title {
    margin: 0;
    color: #fff;
}

.hero-subtitle {
    margin: 0;
    margin-top: 10px;
    color: #fff;
    font-weight: lighter;
    font-size: 2.3em;
}

.hero-filter #scroll-down {
    position: absolute;
    bottom: 150px;
    left: 50%;
    color: #fff;
    font-size: 2em;
    font-weight: lighter;
    opacity: .8;
    animation-name: scroll-down;
    animation-duration: 2.5s;
    animation-iteration-count: 4;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes scroll-down {
    from {
        transform: translateY(0px);
    }
    
    to {
        transform: translateY(50px);
        opacity: .2;
    }
}
/* /Hero */


/* Section */
.section-wrapper {
    padding-top: 80px;
    padding-bottom: 70px;
}

.section-light {
    background-color: #fff;
}

.section-grey {
    background-color: #eceff1;
}

.section-dark {
    background-color: #607d8b;
}

.section-wrapper .section-title {
    font-weight: lighter;
    color: #37474f;
}

.section-wrapper .line-wrapper {
    margin-bottom: 50px;
}
/* /Section */


/* Acerca de */
#acerca .flow-text {
    text-align: justify;
}
/* /Acerca de */



/* Footer */
.page-footer {
    background-color: #607d8b !important;
    color: #fff;
}

.page-footer a {
    color: #fff;
}

.page-footer .fa {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 2em;
    color: #eceff1;
    opacity: .5;
    transition: .3s ease-in-out;
}

.page-footer .fa:hover {
    opacity: 1;
}
/* /Footer */





/*--------------------------
------- Media Queries ------
--------------------------*/
@media screen and (max-width: 767px) {
    /* Hero */
    .hero-wrapper {
        height: 100vh;
    }

    .hero-filter {
        padding-top: 20vh;
        height: 100vh;
    }

    .hero-title {
        font-size: 3.4em;
    }

    .hero-subtitle {
        font-size: 2em;
    }
    
    .hero-filter #scroll-down {
        position: absolute;
        bottom: 150px;
    }
    /* /Hero */
}